
body{
    background-color: #E9EBEE;
}
header{
    background-color: blue;
    color: white;
    margin-top: 0;
    flex-wrap: wrap;
}
.menubar{
    display: flex;
    align-content: center;
    margin-left: 2.7cm;
    flex-wrap: wrap;
}
.s1{
    margin-top: 0.8cm;
    margin-left: 15cm;
    cursor: pointer;
    flex-wrap: wrap;
}
.s2{
    margin-left: 2cm;
    margin-top: 0.8cm;
    cursor: pointer;
    flex-wrap: wrap;
}
.b1{
    height: 0.8cm;
    margin-top: 0.8cm;
    width: 3cm;
    margin-left: 2cm;
    background-color: rebeccapurple;
    color: white;
    text-decoration: double;
    cursor: pointer;
    flex-wrap: wrap;
}
.s3{
    display: flex;
    flex-wrap: wrap;
}
.s4{
    margin-top: 1cm;
    margin-left: 1cm;
    flex-grow: 1;

}
.s5{
    margin-top: 0.3cm;
    margin-left: 2cm;
    flex-grow: 1;

}
.s44{
    margin-top: 0.7cm;
    margin-left: 2cm;
    display: flex;
}
h5{
    margin-left: 0.7cm;
}
.box1{
    margin-top: 0.3cm;
}
h1{
    text-decoration: solid;
}
.box2{
    display: flex;
    gap: 0.3cm;
}
.b2{
    height: 0.8cm;
    width: 4cm;
    color: white;
    background-color: green;
}